<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button onclick="return drawBrackets()" value="click me!"></button>
<script src="../static/jquery-1.11.3.js"></script>
<script src="../static/brackets.js"></script>
<script src="../static/scripts.js"></script>
<script>


    var rounds = {{ data }}
    console.log(rounds)
    var titles = ['round 1', 'round 2', 'round 3']

</script>
</body>
</html>