<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <link href="{{ url_for('static',filename='styles/styles.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<input id="test" type="button" onclick="show()" value="click me!">
<input type="button" onclick="participants()" value="participants">
<input type="button" onclick="matches2()" value="matches">
<div id="display" onload="displayTournaments()"></div>

<script type="text/javascript" src="{{ url_for('static',filename='scripts.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-3.6.0.js') }}"></script>
<script src="{{ url_for('static', filename='brackets.min.js') }}"></script>


</body>
</html>